.dark{
  --bg: #1f293c;
  --text: white;
  --hlcolor: gray;
  --credits: gray;
  --line: gray;
}

.light{
  --bg: white;
  --text: #282c34;
  --line: black;
  --hlcolor: gray;
  --credits: black;
}

.fire{
  
  --bg: linear-gradient(45deg, blue, red);
  --text: white;
  --filter: blur(10px);
  --hlcolor: red;
  --credits: white;
  --line: white;
  }



html {
background-color: var(--bg);
background-image: var(--bg);
background-size: var(--bgs);
animation: var(--anim);
backdrop-filter: var(--filter);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: var(--text);
  cursor: cell;
  margin-left: 2%;
  width: 100%;
}	





main{
  text-align: center;
  display: grid;
  margin-top: 5%;
  position:relative ;
}

body{
  width: 75%;
  display:ruby-text;
  text-align: center;
}

footer{
	margin-top: 5%;

  text-align: center;
}

.mainHeadline {
  color: var(--text);
  display: block;
  font-size: 3em;
  text-align: center;
}

h1 {
  color: var(--text);
}

h2 {
  color: var(--text);
}

p {
  font-family: arial;
  font-size: 90%;
}

ul{
	text-align: center;
}



.pure-menu-horizontal.pure-menu-scrollable {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    padding: .5em 0;
}



.loader {
  border-radius: 0%;
  border-bottom: turquoise;
  border-left: teal;
  border-right: tomato;
  border-style:solid;
  background-color: transparent;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

form.questionbuttons{
	display: flex;
	text-align: center;
  justify-content: center;
}


div.pure-menu-link{
	text-align: center;
  color: var(--text);
}




.my-menu-disabled, .my-menu-heading, .my-menu-link {
  padding: .5em 1em;
}
.my-menu-link {
  color: var(--text);
}
.my-menu-heading, .my-menu-link {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}
a {
  background-color: transparent;
}
.my-menu-horizontal {
  white-space: nowrap;
}
.my-menu-active > .my-menu-link, .my-menu-link:focus, .my-menu-link:hover {
  background-color: #777;
}
a:active, a:hover {
  outline: 0;
}


/*language-changer https://codepen.io/himalayasingh/pen/EdVzNL */
#app-cover
{
  position:absolute;
  margin-top: 10px;
  margin-left: 15px;
  counter-reset: button-counter;
}

.button
{
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;

}



.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}


.layer
{
    width: 100%;
    background-color: transparent;
    transition: 0.5s ease all;
    z-index: 1;
}

/* language switch */
#button-1 .knobs:before
{
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background: linear-gradient(180deg, transparent, transparent 4px, #c8102e 4px, #c8102e 7px, transparent 7px, transparent 100%), linear-gradient(90deg, transparent, transparent 10px, #c8102e 10px, #c8102e 12px, transparent 12px, transparent 100%), linear-gradient(180deg, transparent, transparent 4px, #FFF 4px, #FFF 7px, transparent 7px, transparent 100%), linear-gradient(90deg, transparent, transparent 9px, #FFF 9px, #FFF 13px, transparent 13px, transparent 100%), linear-gradient(26.56505deg, transparent, transparent 9px, #c8102e 9px, #c8102e 10px, transparent 10px, transparent 100%) 0 0/11px 100% no-repeat, linear-gradient(-26.56505deg, transparent, transparent 10px, #c8102e 10px, #c8102e 11px, transparent 11px, transparent 100%) 11px 0/11px 100% no-repeat, linear-gradient(26.56505deg, transparent, transparent 10px, #c8102e 10px, #c8102e 11px, transparent 11px, transparent 100%) 11px 6px/11px 100% no-repeat, linear-gradient(-26.56505deg, transparent, transparent 9px, #c8102e 9px, #c8102e 10px, transparent 10px, transparent 100%) 0 55px/11px 100% no-repeat, linear-gradient(27deg, transparent, transparent 9px, #FFF 9px, #FFF 11px, transparent 11px, transparent 100%), linear-gradient(153deg, transparent, transparent 9px, #FFF 9px, #FFF 11px, transparent 11px, transparent 100%), #012169;

    border-radius: 40%;
    transition: 0.5s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before
{
    content: '';
    left: 30px;
    width: 10px;
    position: absolute;
    background-image: linear-gradient(black,red, yellow);

  }



#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer
{
    transition: 0.5s ease all;
}





/*---------- quiz */
label.quizlist{
    text-align: left;
    display: block;
    margin-bottom: 20px;
}

form.questions{
    display:block;
    padding-right: 25%;
}

aside.quiz { 
    width: auto;
    min-height: 1%;
    min-width: 10%;
    position: fixed;
    right: 1%; 
    margin-top: 1%;
    background-color: transparent;
    border:1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 1px;
    max-width: 10%;

  } 
  
  /*------ question */

label.question{
  font-size: (50px + 3vmin);
  font-weight: 200;
  text-align: center;
  margin-left: 20px;
  max-width: 1080px;
}

form.answerRadios{
    display: inline-block;
    text-align: left;
}

form.AnswerForm{
  display: contents;
  text-align: left;
}

input#rb.radiobutton{
  margin-right: 10px;
}

radio-box{
    display: block ruby;
    text-align: inherit;
    width: 100%;
    margin-left: 50px;
    margin-top: 20px;
    color: blanchedalmond;
}

a#firstQuestion.disabled, a#lastQuestion.disabled{
    background-color: gray;
}

a#firstQuestion.pure-button, a#lastQuestion.pure-button{
    background-color: transparent;
    border-bottom-color: turquoise;
    border-left-color: teal;
    border-right-color: tomato;
  color: var(--text);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

div.waiting{
    text-align: center;
    display:flex;
    margin-left: 50%;
}

.loading {
    display:flex;
    position: fixed;
    text-align: center;
    border-radius: 0%;
    border-bottom: turquoise;
    border-left: teal;
    border-right: tomato;
    border-style:solid;
    background-color: transparent;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


/*-------- navigation */


.line {
  border-bottom: 2px solid gray;
  width: 100%;
  margin-bottom: 10px;
}

.pure-menu-horizontal#navi {
  display: block;
  text-align: center;
  justify-content: space-around;
}
.pure-menu-link {
  color: var(--text);
}

div.scrollmenu{
  white-space:inherit;
}
nav{
    color: var(--text);
display: inline-flex;
  border-radius: 2%;
}

ul.navul {
  list-style-type: none;
  padding: 0;
  overflow: visible;
  border-radius: 5%;
  display: ruby;
  width: 50%;
  background-color:transparent;
}



li.navli a {

  border-radius: 5px;
  margin-top: 5px;

  color: var(--text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

select.maintainer{
  background-color: transparent;
border-color: transparent;
  margin-top: 15%;
}

.auth-button{
  background-color: transparent;
border-color: transparent;
color: var(--text);
display: contents;
border-radius: 5px;
position: top;
  text-align: center;
}






.dropbtn {
  background-color: transparent;
  color: var(--text);
  padding: 14px 16px;
  border-radius: 5px;
  border: none;
  min-width: 50px;
    margin-top: 5px;
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  min-width: 50px;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  border-radius: 5px;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  border-color: transparent;
  border-radius: 5px;
  display: block;
  min-width: 50px;
}



.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #111;}


/*------ index */


button#loading.weiter{
    background-color: transparent;
    border-bottom-color: turquoise;
    border-left-color: teal;
    border-right-color: tomato;
  color: var(--text);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

button#auth.weiter{
  background-color: transparent;
  border-bottom-color: turquoise;
  border-left-color: teal;
  border-right-color: tomato;
color: var(--text);
padding: 15px 32px;
text-align: center;
text-decoration: none;
margin-right: 50px;
display: inline-block;
font-size: 16px;

}
.pure-menu-horizontal {
    display: block;
    text-align: center;
  }
  
  /* ---------- highscore */
  form.questions{
  display:block;
  padding-right: 25%;
}

aside.badges { 
  width: auto;
  min-height: 100px;
  min-width: 200px;
  position: absolute;
  left: 1%; 
  margin-top: 2px;
  background-color: transparent;
  border:2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2px;
  padding-right: 1px;
} 

aside.score { 
  width: auto;
  min-height: 100px;
  min-width: 200px;
  position: fixed;
  right: 1%; 
  margin-top: 2px;
  background-color: transparent;
  border:2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2px;
  padding-right: 1px;
} 

/* -------goals */
button#loading.weiter{
    background-color: transparent;
    border-bottom-color: turquoise;
    border-left-color: teal;
    border-right-color: tomato;
  color: var(--text);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.pure-menu-horizontal {
    display: block;
    text-align: center;
  }
  
  /*---------footer*/
  
.line {
  display: flex;
  border-bottom: 2px solid var(--line);
  width: 100%;
  margin-bottom: 10px;
}

.pure-menu-horizontal#footer {
  display: block;
  text-align: center;
  margin-left: -4%;
}

footer{
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
}

footer-box {
	display: block;
  text-align: center;
  justify-content: center;
	width: 100%px;
	border-bottom-width: 10px;
	border-color: var(--line);
	color: var(--line);
}

div.credits{
  color: var(--credits);
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.pure-menu-horizontal#foot {
  display: block;
  text-align: center;
  margin-left: -4%;
  border-color: gray;
	color: gray;
}
.pure-menu-link {
  color: var(--text);
}


ul.footul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline flow-root list-item;
  border-color: gray;
	color: gray;
}

li.footli {
  float: left;
  border-color: gray;
	color: gray;
}

li.footli a {
  display: block;
  color: var(--text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-color: gray;
	color: gray;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

select.maintainer{
  background-color: transparent;
border-color: transparent;
  margin-top: 15%;
}

/* -------- App */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* ------answer */
/* ------admin */
form.questions{
  display:block;
  padding-right: 25%;
}

aside.badges { 
  width: auto;
  min-height: 100px;
  min-width: 200px;
  position: absolute;
  left: 1%; 
  margin-top: 2px;
  background-color: transparent;
  border:2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2px;
  padding-right: 1px;
} 

aside.score { 
  width: auto;
  min-height: 100px;
  min-width: 200px;
  position: fixed;
  right: 1%; 
  margin-top: 2px;
  background-color: transparent;
  border:2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2px;
  padding-right: 1px;
} 


input#newQuestion{
  width: 50%;
}


#newAnswer1, #newAnswer2, #newAnswer3, #newAnswer4,#newQuestion, #erstellen, #newMedia{
  margin-left: 10px;
  color: black;
  margin-bottom: 10px;
}

#delete{
  background-color: transparent;
  border-color: transparent;
}


/* ------faq */

div#faq{
  color:black;
  display: contents;
  margin-left: -50%;
  text-align: left;
}

details#sub{
  margin-left: 5%;
  margin-bottom: 1%;
}

@media screen and (max-width: 1200px){

}
